/*total*/
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff!important;
    font-family: 'Montserrat', sans-serif!important;
    min-width: 1200px;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold !important;
    margin: 0!important;
    padding: 0!important;
}
a{
    color: #337ab7!important;
    text-decoration: underline!important;
}
header{
    text-align: center;
    height: 85px;
}
table{
    border-collapse: separate!important;
    border-spacing: 7px 11px!important;
}
section{
    height: auto!important;
    min-height: 280px!important;
}
/*/total*/
/*header*/
.header-background{
    background: url('../images/background.jpg')no-repeat 0 -640px;
    width: 100%;
    height: 445px;
    position: absolute;
    z-index: -100;
    margin: 95px 0 0 0;
}
.header-logo-wrap{
    width: 174px;
    height: 65px;
    float: left;
    clear: both;
    z-index: 100;
    position: relative;
    margin: 10px 0;
}
.header-logo{
    background: url('../images/logo.png')no-repeat;
    width: 174px;
    height: 70px;
}
.header-auth{
    float: right;
    width: 10%;
    padding: 10px 0 10px 0;
}
.header-auth li a{
    padding: 5px !important;
    text-decoration: none!important;
    margin: 0 auto;
    width: auto;
    text-align: center;
}
.header-auth li a:hover{
    background: none!important;
    text-decoration: underline!important;
}
.header-registered{
    width: 83%;
    height: 100px;
    position: relative;
}
.header-registered-item{
    height: 100px;
    float: left;
    margin: 16px 0 0 0;
    padding: 0 0 0 22px!important;
}
.header-registered-item a{
    text-decoration: none!important;
}
.header-registered-item-wrap{
    float: right;
}
.header-registered-item ul{
    list-style-type: none!important;
}
.title-search{
    width: 100%;
    margin: 100px 0 0 0;
}
.title{
    width: 596px;
    height: 52px;
    color: #ffffff;
    font-size: 40px;
    border-radius: 5px;
    margin: 0 auto;
}
.order{
    font-size: 25px!important;
    height: auto;
    float: left;
    margin: 0 10px 0 10px;
}
.buttons{
    width: 386px;
    height: auto;
    margin: 30px auto;
}
.search{
    width: 100%;
    margin: 55px 0 0 0;
}
.search-wrapper{
    width: 968px;
    margin: 10px auto;
    display: inline-flex;
}
.search-left{
    font-size: 30px;
    width: 10%;
    color: #ffffff;
    position:relative;
    margin: -5px 0 0 0;
}
.search_form{
    width: 921px;
    height: 34px;
    margin: -37px auto 10px auto;
    display: contents;
}
.auth{
    height: 380px!important;
    border-radius: 5px!important;
}
.auth_form{
    border-radius:0!important;
    margin: 55px auto;
    border: none!important;
}
.social_net{
    width: 396px;
    height: 46px;
    margin: 50px auto;
}
.social_net-item{
    width: 46px;
    height: 46px;
    display: inline-block;
    margin:0 15px 0 15px;
}
.v{
    background: url('../images/v.png');
}
.t{
    background: url('../images/t.png');
}
.f{
    background: url('../images/f.png');
}
.g{
    background: url('../images/g.png');
}
.o{
    background: url('../images/o.png');
}
.pop_right-panel{
    width: 100%;
}
.pop{
    width: 78%;
    float: left;
    margin: 20px 0 0 0;
}
.right-panel{
    width: 20%;
    float:right;
    margin: -30px 0 0 0;
}
.right-panel h3{
    font-family: 'Montserrat', sans-serif!important;
    text-align: center;
}
.right-panel-inner{
    width: 95%;
    margin: 7px auto;
    padding: 10px!important;
}
.right-panel-item{
    width: 200px;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    margin: 10px 0 0 0;
}
.right-panel-item:hover{
    border-bottom: 1px solid #f18a00;
}
.right-panel-item-img{
    width: 196px!important;
    height: 131px!important;
}
.right-panel-item-text{
    padding: 5px;
}
.top{
    height: 300px;
    margin: 10px 0 0 0;
    background: #E0FFFF;
}
.top-item{
    width: 283px;
    height: 280px;
    margin: 10px 0 0 10px;
    float: left;
}
.top-item-img{
    opacity: .8;
}
.top-item-img:hover{
    opacity: 1;
}
.offers{
    width: 100%;
    height: 1000px;

}
.offers-item{
    outline: 1px solid #e4e4e4;
    width: 100%;
    height: 210px;
    padding: 15px;
    margin: 10px 0 0 0;
    background: #ffffff!important;
}
.offers-item:hover{
    outline: 1px solid #337ab7;
}
.offer-img{
    width: 320px;
    height: 180px;
    float:left;
}
.offer-first{
    background: url('../images/1.jpg')no-repeat;
}
.offer-second{
    background: url('../images/2l.jpg')no-repeat;
}
.offer-third{
    background: url('../images/3l.jpg')no-repeat;
}
.offer-fourth{
    background: url('../images/4.jpg')no-repeat;
}
.offer-text{
    float: left;
    width: 50%;
    height: 180px;
    margin: 0 0 0 30px;
    font-size: 16px;
}
.offer-price{
    font-size: 20px;
}
.offer-look{
    padding: 80px 0 0 0;
    font-size: 15px;
}
.popup-auth{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    visibility: hidden;
    z-index: 100;
}
.popup-auth .popup-auth-content{
    margin:40px auto 0 auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
}
.form-horizontal h1{
    margin: 10px 0 20px 0;
}
.choice-type-property{
    width: 100%;
    position: relative;
    margin: 230px 0 40px 0;
}
.search-form-wrapper{
    width: 885px;
    margin: 80px auto 0 auto;
}
.right-panel-header{
    margin: 10px 0 0 0;
    font-size: 27px;
    padding: 5px;
}
.navbar-right{
    border: 1px solid #337ab7;
    border-radius: 5px;
}
.content{

}
.rightbar{
    width: 20px;
    height: 10px;
    outline: 1px solid #000;
}
.change_city{
    width: 159px;
    margin: 0 auto;
}
.change_city, .fill_contract{
    display: block!important;
}
.fill_contract{
    width: 198px;
    margin: 0 auto 10px auto;
}
/*footer*/
footer{
    /*margin: 200px 0 0 0;*/
}
.footer-inner{
    height: auto;
    font-size: 12pt;
}
.footer-inner a{
    text-decoration: none!important;
    color: #b4b4b4!important;
}
.footer-inner a:hover{
    text-decoration: underline!important;
}
.footer-inner-top{
    color:#b4b4b4;
    background: #696969;
}
.footer-inner-bottom{
    background: #4f4f4f;
    color: #a7a7a7!important;
    /*font-family: 'Kavivanar', cursive!important;*/
    text-align: right;
    padding: 10px;
    line-height: 2;
}
.footer-inner-top-menu{
    margin: 30px auto 0 auto;
    width: 399px;
    height: 100px;
}
.footer-inner-top-menu-item{
    width: 130px;
    text-align: left;
    line-height: 2.5;
    display: inline-block;
}
.footer-inner-top-menu-item-left{
    vertical-align: top;
}
.footer-inner-top-copy{
}
/*/footer*/
.header-links{
    float:left;
    width: 27%;
}
.header-links li{
    display: inline;
    padding: 30px;
}
.container hr{
    border-top: 1px solid #4f4f4f;
    width: 100%;
}
.navigation-bar{
    width: 159px;
    float: left;
}
.navigation-bar li.active a {
    color: #ffffff!important;
}
.wrapper{
    width: 100%;
    height: 500px;
}
.container-content{
    width: 80%;
    float: left;
    margin: 0 0 0 50px;
}
.container-content-title h3{
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.container-content-title h3.active{
    border-bottom: 1px solid #f18a00;
}
.container-content-content{
    width: 300px;
    height: 67px;
    background: #337ab7;
    color: #fff;
    text-align: center;
    margin: 60px auto;
    font-size: 25px;
}
.replenish{
    width: 60px;
    height: 24px;
    background: #337ab7;
    color: #fff;
    text-align: center;
}
.container th{
    width: 56px;
    text-align: center;
}
.description{
    width: 600px;
    margin: 0 0 0 60px;
    font-size: 17px!important;
    text-align: center;
}
.description-top, .description-bottom{
}
.description-top-item{
    width: 18%;
    display: inline-block;
}
.description-bottom-item{
    width: 49%;
    display: inline-block;
}
.table-offer{
    margin: 0 0 40px 0;
}
.table-offer td{
    padding: 0 0 0 8px!important;
}
.phone-wrapper{
    width: 100%;
}
.phone{
    width: 13%;
    float: left;
    font-size: 20px;
    margin: 3px 0 0 0;
}
.show-phone{
    float: left;
    font-size: 15px;
    margin: 2px 0 0 20px;
}
.edit-phone{
    visibility: hidden;
    float: left;
    width: 18%;
    position: absolute;
    left: 487px;
    top: 138px;
}
.edit-phone-input{
    width: 50%;
    display: inline-block;
}
.edit-phone label{
    width: 11%;
    display: inline-block;
}
.container-content h4{
    width: 10px!important;
    float: left;
}
.new-password{
    width: 100%;
    float: left;
    font-size: 20px;
    margin: 50px 0 0 16px;
}
.new-password-text{
    width: 60%;
}
.new-password-input{
    width: 70%!important;
}
.deleting{
    margin: 40px 0 0 18px;
}
.deleting-btn{
    margin: -72px 0 0 52px;
}
.container-content-ads{
    margin: 60px 0 0 0;
}
.container-content-ads-active{
    display: block;
}
.container-content-ads-completed{
    display: none;
}
.description-additionally{
}
.description-additionally-item{
    width: 50%;
    float: left;
}
.top-item-img img{
    width: 283px;
    height: 189px;
}
.right-panel-item-img img{
    width: 200px;
    height: 134px;
}
.right-panel-wrapper{
    padding: 55px 0 0 0;
}
.contacts-messages{
    width: 100%;
    height: 600px;
    margin: 40px 0 30px 0;
}
.contacts{
    width: 40%;
    float: left;
    height: 100%;
}
.messages{
    width: 60%;
    float: right;
    height: 100%;
}
.contacts-inner{
    margin: 10px;
    outline: 1px solid #337ab7;
    height: 97%;
    overflow: auto;
}
.messages-inner{
    margin: 10px;
    outline: 1px solid #337ab7;
    height: 97%;
    overflow: auto;
    position:relative;
    padding-bottom:50px;
}
.contacts-inner-search{
    width: 97%;
    height: 10%;
    border-bottom: 1px solid #337ab7;
    margin: 10px;
}
.contacts-inner-item{
    font-size: 20px;
    color: #4f4f4f;
    border-bottom: 1px solid #337ab7;
    cursor: pointer;
    padding: 10px 20px;
}
.messages-inner-date{
    padding: 3px;
    background: #DCDCDC;
    border-radius: 3px;
    width: 106px;
    margin: 10px auto 0;
}
.messages-inner-caption{
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #337ab7;
}
.messages-inner-incomming{
    float: left;
    background: #f18a00;
    margin: 0 0 0 10px;
}
.messages-inner-outgoing{
    float: right;
    background: #337ab7;
    margin: 0 10px 0 0;
}
.messages-inner-chat{
    height: 469px;
}
.messages-inner-chat-wrap{
    margin: 10px 0 0 0;
    height: 40px;
    color: #fff;
}
.messages-inner-chat-wrap-item{
    max-width: 80%;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.messages-inner-write-message{
    position: absolute;
    bottom: 0;
    width: 100%!important;
}
.messages-inner-write-message form{
    width: 100%!important;
}
.messages-inner-write-message textarea{
    border-top: 1px solid #337ab7;
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 100%!important;
    border-radius: 0!important;
    height: 48px;
    resize:none;
}
.messages-inner-write-message button{
    margin: -33px 0 0 0;
    float: right;
    border-radius: 0!important;
}
.navigation-bar a{
    text-decoration: none!important;
}
.title-ad-submission{
    width: 100%;
    height: auto;
}
.ad-submission-form input[type=text]{
    /*width: 80%!important;*/
}
.to-metro{
    display: none;
    float: left!important;
}
#to-metro{
    margin: 0 0 0 40px;
}
#metro{
    width: 50%;
    display: inline-block;!important;
}
#minutes{
    width: 18%;
    display: inline;
}
#numberBerths{
    width: 5%;
    display: inline;
    margin: 0 3px 0 43px;
}
#totalArea{
    width: 6%;
    display: inline;
}
#residentialArea{
    width: 6%;
    display: inline;
}
#kitchen{
    width: 6%;
    display: inline;
}
#floorNumber{
    width: 42px;
    display: inline;
}
#totalFloors{
    width: 42px;
    display: inline;
}
#rent{
    width: 76px;
    float: left;
    margin: 0 0 0 10px ;
}
#pledge{
    width: 76px;
    display: inline-block!important;
}
.pledge{
    width: 144px;
    display: inline-block!important;
    margin: 0 0 0 70px;
}
.pledge .ad-submission-form-label{
    width: 10px;
    font-size: 20px;
    float: left!important;
    margin: -40px 0 0 140px;
}
.title-ad-submission h2{
    display: inline-block;
}
.title-ad-submission .btn-primary{
    margin: -13px 0 0 50px;
}
.fill-contract{
    margin: 30px 0 0 0;
}
.fill-contract-inner{
    width: 168px;
    margin: 30px auto;
}
.ad-submission-form .dropdown-header{
    font-size: 20px!important;
}
.ad-submission-form a{
    text-decoration: none!important;
}
#apartment .radio{
    display: inline!important;
    margin: 0 0 0 10px;
}
.rent{
    width: 192px;
    float: left;
}
.ad-submission-form-label{
    font-size: 20px;
    margin: -7px 0 0 20px;
}
.including-communal{
    display: inline-block!important;
    margin: 0 0 0 40px;
}
.your-name{
    width: 192px;
    display: inline-block;
}
#your-name{
    width: 200px;
    float: left;
    margin: 0 0 0 -49px ;
}
.phone-communication-font{

}
.input-phone-communication{
    width: 200px!important;
    float: left;
}
.phone-communication-caption{
    width: 268px;
    display: inline-block;!important;
}
.phone-communication-inner{
    width: 372px;
    display: inline-block;
}
.phone-communication-font:first-child{
    margin: 2px 0 0 20px;
    font-size: 18px!important;
}
.facilities-item{
    width: 49%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    vertical-align:top;
}
.facilities-inner{
    margin: 10px 0 0 0;
}
.add-photo{
    width: 500px;
    height: 200px;
    border: 1px solid #337ab7;
    margin: 30px auto;
    border-radius: 4px;
}
.camera{
    width: 40px;
    height: 40px;
    margin: 60px auto -100px auto!important;
}
.add-button{
    width: 155px;
    height: 34px;
    margin: 100px auto;
}
.photos-desc{
    width: 500px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.ways-accommodation-item{
    width: 70%;
    height: 80px;
    border: 1px solid #337ab7;
    border-radius: 4px;
    margin: 10px 0 10px 0;
}
.free-charge{
    background: #e7e6e6;
}
.top-3{
    background: #ffff00;
}
.alloted{
     background: #fff2cc;
 }
.ways-accommodation-input-wrap{
    margin: 10px 0 0 16px;
    font-size: 18px;
    display: inline-block;
    width: 47%;
}
.ways-accommodation-cost{
    display: inline-block;
    width: 47%;
    text-align: right;
    font-size: 18px;
}
.no-active-ads{
    margin: 50px auto;
    width: 300px;
    height: 150px;
    outline: 1px solid #337ab7;
    text-align: center;
    font-size: 20px;
    color: #337ab7;
    padding: 60px 0 0 0;
}
.active-until{
    font-size: 18px;
    margin: 4px 0 0 18px;
    color: #f18a00;
}
.discount{
    font-size: 18px;
    text-align: right;
    margin: 4px 18px 0 0;
    color: #DC143C;
}
.balance{
    margin: 40px 0 0 40px;
    width: 87px;
    float: left;
    display: inline-block;
}
.selected-tariff-wrap{
    width: 321px;
    display: inline-block;
    margin: 40px 110px 0 0;
    float: right;
}
.selected-tariff-inner{
}
#selected-tariff{
    display: inline-block;
}
#cost{
    display: inline-block;
}
.total{
    float: right;
    margin: 50px 0 0 0;
    font-size: 16px;
}
.submit-advertisement-button{
    width: 100%;
    height: 100px;
    position: relative;
}
.submit-advertisement-button-inner{
    width: 155px;
    float: right;
}
.pagination-wrap{
    width: 75%;
}
.pagination-wrap a{
    text-decoration: none!important;
}
.pagination-inner{
    width: 231px;
    margin: 0 auto;
}
#apartment_description{
    width: 769px!important;
    margin: 0 auto;
    height: 130px;
    padding: 10px;
}