* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4!important;
    font-family: 'Montserrat', sans-serif;
    height: 500px;
}
header{
    margin: 20px 0 0 0;
    text-align: center;
    height: 160px;
}
footer{
    width: 100%;
    height: 35px;
    background: #002642;
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
}
.header-logo{
    background: url('../images/logo.png');
    width: 250px;
    height: 100px;
    float: left;
}
.header-change_city{
    float: left;
}
.header-auth_reg{
    float: right;
}
.header-green_band{
    background: #8FBC8F;
    width: 100%;
    height: 30px;
    float: left;
    margin: 30px 0 0 0;
}
.content{
    height: 500px;
    margin: 20px 0 0 0;
}
.content-left{
    width: 75%;
    padding: 0 30px 0 30px;
    float: left;
}
.content-right{
    width: 25%;
    height: 100px;
    float: left;
}
.content-button{
    font-size: 28px!important;
    height: 44px;
    padding: 0 12px!important;
}
.rent{
    width: 138px;
    float: left;
}
.take{
    margin: 0 0 0 56px!important;
}
.order{
    width: 404px;
    float: right;
}
.rightbar{
    width: 80%;
    height: auto;
    margin: 20px auto;
}