* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4!important;
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
    height: auto;
}
a{
    color: #333333!important;
    text-decoration: underline!important;
}
header{
    text-align: center;
    position: absolute;
    z-index: -1;
}
.header-background{
    background: url('../images/background.png')no-repeat;
    width: 100%;
    height: 610px;
}
.header-logo{
    background: url('../images/logo.png')no-repeat;
    width: 50%;
    height: 100px;
    float: left;
    clear: both;
}
.header-auth_reg{
    float: right;
    width: 50%;
}
.title-search{
    width: 100%;
    height: 150px;
}
.title{
    width: 596px;
    height: 52px;
    color: #000000;
    font-size: 40px;
    border-radius: 5px;
    margin: 0 auto;
}
.order{
    font-size: 25px!important;
    height: auto;
    float: left;
    margin: 0 10px 0 10px;
}
.buttons{
    width: 386px;
    height: auto;
    margin: 0 auto;
}
.search{
    width: 100%;
    margin: 55px 0 0 0;
}
.search-wrapper{
    width: 944px;
    margin: 0 auto;
}
.search-left{
    font-size: 30px;
    width: 8%;
}
.search-right{
    width: 92%;
    margin: 0 0 0 90px;
}
.search_form{
    width: 921px;
    height: 34px;
    margin: -37px auto 10px auto;
}
.auth{
    height: 380px!important;
    border-radius: 5px!important;
}
.auth_form{
    border-radius:0!important;
    margin: 55px auto;
    border: none!important;
}
.social_net{
    width: 396px;
    height: 46px;
    margin: 50px auto;
}
.social_net-item{
    width: 46px;
    height: 46px;
    display: inline-block;
    margin:0 15px 0 15px;
}
.v{
    background: url('../images/v.png');
}
.t{
    background: url('../images/t.png');
}
.f{
    background: url('../images/f.png');
}
.g{
    background: url('../images/g.png');
}
.o{
    background: url('../images/o.png');
}
.pop_news{
    width: 100%;
}
.pop{
    width: 67%;
    float: left;
}
.news{
    width: 30%;
    float:right;
}
.news-inner{
    background: #ffffff;
    margin: 23px 0 0 0;
    padding: 15px;
    outline: 1px solid #c9c9c9;
}
.news-title{
    font-weight: 900;
}
.news-date{
    color: #337ab7;
    padding: 2px 0 0 0;
}
p.news-text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px!important;
    padding: 2px;
}
.news-more{

}
.news-delimiter{
    width: 75%;
    height: 1px;
    background: #c9c9c9;
    margin:10px auto;
}
.offers{
    width: 100%;
    height: 1000px;

}
.offers-item{
    outline: 1px solid #e4e4e4;
    width: 100%;
    height: 210px;
    padding: 15px;
    margin: 10px 0 0 0;
    background: #ffffff!important;
}
.offers-item:hover{
    outline: 1px solid #c9c9c9;
}
.offer-img{
    width: 320px;
    height: 180px;
    float:left;
}
.offer-first{
    background: url('../images/1.jpg')no-repeat;
}
.offer-second{
    background: url('../images/2.jpg')no-repeat;
}
.offer-third{
    background: url('../images/3.jpg')no-repeat;
}
.offer-fourth{
    background: url('../images/4.jpg')no-repeat;
}
.offer-text{
    float: left;
    width: 50%;
    height: 180px;
    margin: 0 0 0 30px;
}
.offer-price{
    font-weight: 900;
    font-size: 30px;
}
.offer-description{
    color: #114877;
    font-size: 20px;
}
.offer-address{
    font-size: 18px;
    padding: 10px 0 0 0;
}
.offer-look{
    padding: 45px 0 0 0;
    font-size: 15px;
}
.footer-inner{
    height: auto;
    background: #114877;
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.popup-auth{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    visibility: hidden;
}
.popup-auth .popup-auth-content{
    margin:40px auto 0 auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
}
.form-horizontal h1{
    margin: 10px 0 20px 0;
}